.catalog-container {
  height: 100%;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.pagination-container {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .catalog-container {
    padding: 40px;
  }
}
